<div class ="printing">
	<div class ="menu">
		<% @user.email %>
		<% provide(:title, @user.email) %>
		<br/> <br/>
		<%= gravatar_for @user %><br/><br/>
		<div class ="name">
			<td><%= @user.username.upcase %><br/>
		</div>
	</div>
	<div class ="main-content">
		<h4>
			<u>Currently studying</u>:
			<%= link_to @user.title, :action => "index", :controller => "posts"%>
		</h4>
		<h4>
			<u> About Me</u>:
			<%=@user.description%>
		</h4>	
		<div class ="field">
			<h1>Projects </h1>
			<% @projects.each do |project|%>
			 	 <%= project.title %><br/>
			<% end %>			
		</div>
	</div>
</div>
