
	<div class ="menu">
		<% @user.email %>
		<% provide(:title, @user.email) %>
		
		<%= gravatar_for @user %>
		<div class ="name">
			<td><%= @user.username.upcase %>
		</div>
	</div>
	<div class ="main-content">
		<h4>
			<u>Title</u>:
			<%= link_to @user.title, :action => "index", :controller => "posts"%>
		</h4>
		<h4>
			<u> About Me</u>:
			<%=@user.description %>
		</h4>	
		<div class="field">
			<h1>Projects</h1>
			<% @projects.each do |project| %>
			 	 <%= project.title %><br/>
			<% end %>			
		</div>
	</div>

