
<div class ="table-space">
 <div class="col-md-8  col-xs-12">
    <div class="well pt0 pb10">
      <% a=1 %>
        <%= simple_form_for Intent.new ,:html => {:class => 'form'} do |f| %>
            <div class="form-group mt15">
                <%= f.label :description , class: "sr-only" %>
                <%= f.text_area :description, autofocus: true , class: "form-control", placeholder: "Write intent...", id: "summernote_post" , "data-provider" =>:summernote %><br/>
                <div>
                    status intent:
                    <%= f.select :status_intent, options_for_select(%w[not_started In_progress Started Completed Problem_occurred]), id: "summernote_post" , "data-provider" =>:summernote %><br/><br/>
                </div>
            </div>
            <div class="hidden">
                 <%= f.hidden_field :milestone_id, :value => @milestone.id %>
            </div>
            <div class="pull-right ">
                <%= f.submit "Submit intent", class: "btn btn-primary", "data-loading-text" => "Submitting...", id: "summernote_post_btn" %>
                <% a = a+1 %>
            </div>
        <% end %>
      </div>
  </div>
    <div class ="table-allign">
    <div class="col-md-8  col-xs-12">
   <div class="well pt0 pb10">
    <% @intents.uniq.each do |intent| %>
       <%if @milestone.id == intent.milestone_id %>
                <div class="panel-heading p5">
                <a href="#del_intent_id<%= intent.id %>" class="pull-right glyphicon glyphicon-remove dec-none color-silver" aria-hidden="true" data-toggle="modal"></a>
                <a href="#edit_intent_id<%= intent.id %>" class="pull-right glyphicon glyphicon-edit dec-none color-silver" aria-hidden="true" data-toggle="modal"></a>
                <br/>Description: <%= intent.description %><br/>
                  Status: <%= intent.status_intent %><br/>
                </div>
               
                <div class="calculation">
                  <% if intent.status_intent == "Completed"%>
                     <%= n = n + 1 rescue n = 1 %>
                  <% end %>
                  <div class="percentage">
                   
                  </div>
                </div>

                <div id="del_intent_id<%= intent.id %>" class="modal fade">
                      <div class="modal-dialog modal-sm">
                        <div class="modal-content">
                          <div class="modal-body">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            Are You Sure?
                          </div>
                          <div class="modal-footer pt5 pb5">
                            <%= link_to "Yes", intent_path(intent), method: :delete, class: "pull-right btn btn-danger ml5"%>
                            <button type="button" class="btn pull-right" data-dismiss="modal">No</button>
                          </div>
                        </div>
                      </div>
                  </div>
       <% end %>

 <%= simple_form_for intent ,:html => {:class => 'form'} do |f| %>
                <div class="modal fade" id="edit_intent_id<%= intent.id %>" data-backdrop="static"  role="dialog" aria-hidden="true" >
                  <div class="modal-dialog">
                  <div class="modal-content col-xs-offset-1 col-xs-10">
                  <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                      <h2 class="modal-title">Edit Intent</h2>
                  </div>
                <div class="modal-body">
                     <%= f.label :description , class: "sr-only" %>
                <%= f.text_area :description, autofocus: true , class: "form-control", placeholder: "Write intent...", id: "summernote_post" , "data-provider" =>:summernote %><br/>
                    status intent:
          <%= f.select :status_intent, options_for_select(%w[not_started In_progress Started Completed Problem_occurred]), id: "summernote_post" , "data-provider" =>:summernote %><br/><br/>
         <div class="hidden">
                 <%= f.hidden_field :milestone_id, :value => @milestone.id %>
            </div>
  
                      
                      <div class="pull-right ">
                      </div>
                     <div class="modal-footer">
                       <button type="reset" class="pull-left btn btn-default" >Reset</button>
                        <%= f.submit "Update", class: "btn btn-primary", "data-loading-text" => "Updating..." %>
                      </div>
                      </div>
                      </div>
                    </div>
               </div> 
 <% end %>
    <% end %>
  </div>
</div>
</div>



</div>