<%= form_for(resource, as: resource_name, url: session_path(resource_name), :html => {:class => 'form'}) do |f| %>
<div class="modal">
  <div class="modal-dialog top--50">
    <div class="modal-content col-xs-offset-1 col-xs-10">
      <div class="modal-header">
       
        <h2 class="modal-title">Log in</h2>
      </div>
      <div class="modal-body">
          <div class="form-group">
                 <% flash.each do |name, msg| %>
                     <%= content_tag :div, msg, :id => "flash_#{name}", :class => "error_explanation" if msg.is_a?(String) %>
                 <% end %>
          <%= devise_error_messages! %>
          </div>
          <div class="form-group">
            <%= f.label :email , class: "sr-only" %>
            <%= f.email_field :email, autofocus: true, class: "form-control", placeholder: "Email" %>
          </div>
        
          <div class="form-group">
            <%= f.label :password , class: "sr-only" %>
            <%= f.password_field :password, autocomplete: "off" , class: "form-control", placeholder: "Password" %>
          </div>
        
          <% if devise_mapping.rememberable? %>
            <div class="">
              <%= f.check_box :remember_me %>
              <%= f.label :remember_me, class: "text-muted" %>
              </div>
          <% end %>
      </div>
      <div class="modal-footer">
        
        <%= link_to "sign up", new_user_registration_path, class: "btn btn-success pull-left" %>
        <%= f.submit "Log in", class: "btn btn-primary" %>
        
      </div>
    </div>
  </div>  
</div>
<% end %>
<script>
  $(document).ready(function(){
    $(".modal").modal({
      keyboard: false,
      backdrop: 'static',
      show: true
    });
    $("body").addClass('bg-img')
    $("body").addClass('img-responsive')
  });
</script>
