<div>
  <h3>Goal: <%= @goal.description %></h3><br/>
  <h3>Status: <%= @goal.status_goal %></h3>
  <h4>Estimate time: <%= @goal.est_time_goal %></h4>
</div>

<div class="col-md-8  col-xs-12">
   <div class="well pt0 pb10">
      <%= simple_form_for Milestone.new ,:html => {:class => 'form'} do |f| %>
        <div class="form-group mt15">
          <%= f.label :description , class: "sr-only" %>
          <%= f.text_area :description, autofocus: true , class: "form-control", placeholder: "Write milestone...", id: "summernote_post" , "data-provider" =>:summernote %><br/>
          status milestone:
          <%= f.select :status_milestone, options_for_select(%w[not_started In_progress Started Completed Problem_occurred]), id: "summernote_post" , "data-provider" =>:summernote %><br/><br/>
          <div>
            Estimated time: <%= f.date_select :est_time_milestone, :start_year=>2015 %>
            <%= f.hidden_field :goal_id, :value => @goal.id%>
          </div>
        </div>
        <div class="pull-right ">
          <%= f.submit "Submit milestone", class: "btn btn-primary", "data-loading-text" => "Submitting...", id: "summernote_post_btn" %>
        </div>
      <% end %>
    </div>
</div>  

 <div class="col-md-8  col-xs-12">
   <div class="well pt0 pb10">   
   <u>  Milestones</u>
  <% @milestones.uniq.each do |milestone| %>
   <%if @goal.id == milestone.goal_id %>
   <div class="panel-heading p5">
                <a href="#del_milestone_id<%= milestone.id %>" class="pull-right glyphicon glyphicon-remove dec-none color-silver" aria-hidden="true" data-toggle="modal"></a>
    </div>
      <br/>Description: <%=link_to milestone.description, :controller => 'milestones', :action => 'show', :id => milestone.id%><br/>
      Estimated time: <%= milestone.est_time_milestone %><br/>
      <% if milestone.status_milestone != "Completed" %>
          Status: <%= milestone.status_milestone %><br/>
      <% end %>
      <div id="del_milestone_id<%= milestone.id %>" class="modal fade">
                      <div class="modal-dialog modal-sm">
                        <div class="modal-content">
                          <div class="modal-body">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            Are You Sure?
                          </div>
                          <div class="modal-footer pt5 pb5">
                            <%= link_to "Yes", milestone_path(milestone), method: :delete, class: "pull-right btn btn-danger ml5"%>
                            <button type="button" class="btn pull-right" data-dismiss="modal">No</button>
                          </div>
                        </div>
                      </div>
                  </div>
   <% end %>
  <% end %>
</div>
</div>
